- page_title "系统信息"

.prepend-top-default
.row
  .col-sm-4
    .card.bg-light.light-well
      %h4 CPU
      .data
        - if @cpus
          %h1 #{@cpus.length} cores
        - else
          = icon('warning', class: 'text-warning')
          无法收集CPU信息
  .col-sm-4
    .card.bg-light.light-well
      %h4 内存使用率
      .data
        - if @memory
          %h1 #{number_to_human_size(@memory.active_bytes)} / #{number_to_human_size(@memory.total_bytes)}
        - else
          = icon('warning', class: 'text-warning')
          无法收集内存信息
  .col-sm-4
    .card.bg-light.light-well
      %h4 磁盘使用率
      .data
        - @disks.each do |disk|
          %h1 #{number_to_human_size(disk[:bytes_used])} / #{number_to_human_size(disk[:bytes_total])}
          %p= disk[:disk_name]
          %p= disk[:mount_path]
  .col-sm-4
    .card.bg-light.light-well
      %h4 运行时间
      .data
        %h1= distance_of_time_in_words_to_now(Rails.application.config.booted_at)
